<!-- Addにより登録したスポットを時系列順に表示 -->
<ul class="cbp_tmtimeline">
  {{each(i, spot) data}}
    <li>
      <!-- 現在時刻を取得してここに入れる -->
      <time class="cbp_tmtime" datetime="2013-04-10 18:30">
      <!--予定の日付と時刻を取得して入れる-->
      <span>${datetimeDecomp(spot['schedule'])[0]}</span> <span>${datetimeDecomp(spot['schedule'])[1]}</span>
      </time>
      <!-- TODO:アイコンはBootstrapなどで使用フリーなやつを可能な限り使う 必要であれば作成する-->
      <!-- TODO:イベント追加ごとにOrder ByでSelectする感じで時系列で並び替え-->
      <!-- ここに表示するスポットタイプのアイコンとポップアップ内のものは一致させる-->
      <div class="cbp_tmicon">
        {{if Math.floor(spot['categorycode']/100) == 1}}
          <i class="fa fa-ticket"></i>
        {{else Math.floor(spot['categorycode']/100)== 2}}
          <i class="fa fa-calendar-check-o"></i>
        {{else Math.floor(spot['categorycode']) == 352}}
          <i class="fa fa-coffee"></i>
        {{else Math.floor(spot['categorycode']/100) == 3}}
          <i class="fa fa fa-cutlery"></i>
        {{else Math.floor(spot['categorycode']/100) == 4}}
          <i class="fa fa fa-glass"></i>
        {{else Math.floor(spot['categorycode']/100) == 5}}
          <i class="fa fa-tree"></i>
        {{else Math.floor(spot['categorycode']/100) == 6}}
          <i class="fa fa-shopping-cart"></i>
        {{else spot['categorycode'] == 704}}
          <i class="fa fa-bus"></i>
        {{else spot['categorycode'] == 706}}
          <i class="fa fa-train"></i>
        {{else spot['categorycode'] == 707}}
          <i class="fa fa-subway "></i>
        {{else Math.floor(spot['categorycode']/100) == 7}}
          <i class="fa fa-suitcase"></i>
        {{else}}
          <i class="fa fa-coffee"></i>
        {{/if}}
      </div>
      <div class="cbp_tmlabel">
        <!-- スポット名を取得して表示 -->
        <h2><p class="title">${spot['name']}</p></h2>
        <p>${spot['description']}</p>
        <button class="btn btn-salmon" data-toggle="modal" data-target="#Modal_${i}">Detail</button>
        <!-- TODO:予定を消せるようにする -->
        <button class="btn btn-close modal-open" onclick="javascript: loadText('${spot['schedule']}', -1);"><a class="link">Cancel</a></button>
        <!-- 遷移元ボタンのtargetと一致するようなユニークなidを付加する-->
        <div id="Modal_${i}" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- スポット名称を入れる -->
                <h4 class="modal-title"><span class="spotname">${spot['name']}</span> </h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
                    <div class="spot-description">
                      ${spot['description']}
                    </div>
                    <!-- エリア・価格帯・タイプを取得して表示-->
                    <span class= "address"><i class="fa fa-map-marker"></i>${spot['address']}</span>
                    <span class= "phonnum"><i class="fa fa-phone"></i>${spot['tel']}</span> <br>
                    <!-- 連絡先がHPの場合 -->
                    <!--
                    <span class= "url"><i class="fa fa-laptop"></i>${spot['url']}</span> <br>
                    -->
                    <!-- データベースより出力されるパラメータに従った種類のFont Awesomeのアイコンを表示する-->
                    <!-- スポットタイプのアイコンはスポットの種類によって変わる-->
                    <span class="area"><i class="fa fa-flag"></i>${spot['area']}</span> /
                    <span class="type">
                      {{if Math.floor(spot['categorycode']/100) == 1}}
                        <i class="fa fa-ticket"></i>
                      {{else Math.floor(spot['categorycode']/100)== 2}}
                        <i class="fa fa-calendar-check-o"></i>
                      {{else Math.floor(spot['categorycode']) == 352}}
                        <i class="fa fa-coffee"></i>
                      {{else Math.floor(spot['categorycode']/100) == 3}}
                        <i class="fa fa fa-cutlery"></i>
                      {{else Math.floor(spot['categorycode']/100) == 4}}
                        <i class="fa fa fa-glass"></i>
                      {{else Math.floor(spot['categorycode']/100) == 5}}
                        <i class="fa fa-tree"></i>
                      {{else Math.floor(spot['categorycode']/100) == 6}}
                        <i class="fa fa-shopping-cart"></i>
                      {{else spot['categorycode'] == 704}}
                        <i class="fa fa-bus"></i>
                      {{else spot['categorycode'] == 706}}
                        <i class="fa fa-train"></i>
                      {{else spot['categorycode'] == 707}}
                        <i class="fa fa-subway "></i>
                      {{else Math.floor(spot['categorycode']/100) == 7}}
                        <i class="fa fa-suitcase"></i>
                      {{else}}
                        <i class="fa fa-coffee"></i>
                      {{/if}}
                      ${spot['category']}
                    </span><br>
                    <span class="budgettype"><i class="fa fa-jpy"></i>${spot['price']}</span>
                    <!-- 営業開始時刻と終了時刻をDatetime型とかで取得して表示
                    TODO:曜日も将来的に付加する
                    -->
                    <br>
                    <span class="businessh"><i class="fa fa-clock-o"></i>
                    <span class="starttime">${timeFormat(spot['open'])} 〜 </span>
                    <span class="endtime">${timeFormat(spot['close'])}</span>
                    </span> /
                    <span class="timetospent"><i class="fa fa-hourglass"></i>${time2hour(spot['reqtime'])}</span>
                  </div>
                  <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                    <img src="img/{{if !spot['imgpath']}}dummy.png{{else}}${spot['imgpath']}{{/if}}" class="list-image img-circle" alt="example">
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row">
                    <!-- form actionに遷移先のphp入れればできそう-->
                    <form class="forms"  method="post" action="javascript: loadText('${spot['schedule']}', ${i});">
                      <label class="forms" for="datetime">開始時刻:</label>
                      <input id="datetime_${i}" type="datetime-local" placeholder="Datetime" value="${spot['schedule']}">
                      <br>
                      <!-- TODO:Add後,そのイベントをどの時間帯に加えるのかを表示する-->
                      <input type="submit" class="btn btn-salmon" value="modify"> </input>
                      <input type="button" data-dismiss="modal" class="btn btn-close" value="close"></input>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
